{% extends "base.html" %}

{% block content %}
{% for product in products %}
{% with product.reviews|length as num_reviews %}
<h2>{{ product.name}} — {{ num_reviews }} review{{ num_reviews|pluralize }}</h2>
{% endwith %}

<ol>{% for review in product.reviews %}
    <li><a href="{% url show-review review.id %}">By {{ review.reviewer }} at
        {{ review.created|date:"P, j N Y" }}</a></li>
    {% endfor %}
</ol>
<p class="highlight"><a href="{% url add-review product.id %}">Create new review</a></p>
{% endfor %}
{% endblock %}

